################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Design-Patteren-C_Sharp_Course/bin/Debug/net8.0/Design-Patteren-C_Sharp_Course.dll
/Design-Patteren-C_Sharp_Course/bin/Debug/net8.0/Design-Patteren-C_Sharp_Course.exe
/Design-Patteren-C_Sharp_Course/bin/Debug/net8.0/Design-Patteren-C_Sharp_Course.pdb
*.dll
/Design-Patteren-C_Sharp_Course/obj/Debug/net8.0/apphost.exe
/Design-Patteren-C_Sharp_Course/obj/Debug/net8.0/Design-Patteren-C_Sharp_Course.AssemblyInfo.cs
/Design-Patteren-C_Sharp_Course/obj/Debug/net8.0/Design-Patteren-C_Sharp_Course.AssemblyInfoInputs.cache
/Design-Patteren-C_Sharp_Course/obj/Debug/net8.0/Design-Patteren-C_Sharp_Course.csproj.CoreCompileInputs.cache
/Design-Patteren-C_Sharp_Course/obj/Debug/net8.0/Design-Patteren-C_Sharp_Course.csproj.FileListAbsolute.txt
/Design-Patteren-C_Sharp_Course/obj/Debug/net8.0/Design-Patteren-C_Sharp_Course.genruntimeconfig.cache
/Design-Patteren-C_Sharp_Course/obj/Debug/net8.0/Design-Patteren-C_Sharp_Course.pdb
/Design-Patteren-C_Sharp_Course/obj/Debug/net8.0/Design-Patteren-C_Sharp_Course.sourcelink.json
/Design-Patteren-C_Sharp_Course/obj/Debug/net8.0/ref/Design-Patteren-C_Sharp_Course.dll
/Design-Patteren-C_Sharp_Course/.vs/Design-Patteren-C_Sharp_Course/CopilotIndices/17.14.995.13737
/Design-Patteren-C_Sharp_Course/.vs/Design-Patteren-C_Sharp_Course/v17/.suo
/Design-Patteren-C_Sharp_Course/.vs/Design-Patteren-C_Sharp_Course/copilot-chat/d416ef33/sessions/7b9bf5c3-bca8-4163-897e-341d75784798
/Design-Patteren-C_Sharp_Course/.vs/Design-Patteren-C_Sharp_Course/v17/DocumentLayout.backup.json
/Design-Patteren-C_Sharp_Course/.vs/Design-Patteren-C_Sharp_Course/v17/DocumentLayout.json
